[Unit]
Description=Monitorea Nginx y lo reinicia si se cae
After=network.target

[Service]
ExecStart=/bin/bash -c 'while true; do systemctl is-active --quiet nginx || systemctl restart nginx; sleep 10; done'
Restart=always

[Install]
WantedBy=multi-user.target
